<nav>
    <img src="" alt="logos">
    <div class="nav-menu">
        <ul class="menu">
            <li class="menu">
                <a href="/">Trang chủ</a>
            </li>
            <li class="menu"><a href="">Ngôn ngữ</a>
                <ul class="sub-menu">
                    <li class="sub-menu">
                        <a href="/">Tiếng Anh</a>
                    </li>
                    <li class="sub-menu">
                        <a href="">Tiếng Việt</a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="">Giới thiệu</a>
            </li>
            <li class="menu">
                <a href="">Trợ giúp</a>
            </li>
        </ul>
        <ul class="account">
            <li class="account"><a href="">Account Name?</a>
                <ul class="sub-menu">
                    <li><a href="">Thông tin cá nhân</a></li>
                    <li><a href="/">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>