<div class="container-product">
    <h1 class="title">PRODUCT PAGE</h1>
    <table class="product">
        <tbody>
            <tr>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
                <td>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                    <a href="/Product/detail" class="product-item">
                        <img src="/img/my-image.jpg" alt="product image">
                        <h4>PRODUCT NAME</h4>
                        <h5>cost</h5>
                        <span>details</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>